.rackContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.rack {
    background-color: #8d6e63;
    padding: 10px 20px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    min-width: 350px;
    min-height: 60px;
    align-items: center;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}