.tile {
  width: 40px;
  height: 40px;
  background-color: #f4d03f; /* Wood-like yellow */
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: grab;
  user-select: none;
  font-family: sans-serif;
  color: #333;
}

.tile:active {
  cursor: grabbing;
}

.blank {
  background-color: #fcf3cf;
}

.letter {
  font-size: 1.2rem;
  font-weight: bold;
}

.score {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 0.6rem;
  font-weight: bold;
}
